{% extends "base.html" %}
{% block content %}

<div class="row mt-5">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="col-lg-8 col-md-10">
        <form action="{{ url_for('login') }}" method="POST">
            {{ form.csrf_token }}
            <div>
                <div class="row my-3">
                    <div class="col-sm-3 col-lg-2 me-2">
                        {{ form.email.label(class="form-label") }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.email(class="form-control") }}
                        {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <p style="color:red;">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <div class="row my-3">
                    <div class="col-sm-3 col-lg-2 me-2">
                        {{ form.password.label(class="form-label") }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.password(class="form-control") }}
                        {% if form.password.errors %}
                        {% for error in form.password.errors %}
                        <p style="color:red;">{{ error }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {{ form.submit(class="btn btn-light mb-3") }}
        </form>
        <a href="{{ url_for('request_token') }}"><button class="btn btn-sm btn-primary">Forgot Your
                Password?</button></a>
    </div>
</div>
{% endblock content %}