<div class="row steps my-5 align-items-center">
    <div class="mb-2 col-12 col-sm-6 col-md-3">
        <h2>Step 1</h2>
        <p>
            Create an account and set your next holiday destinations.
        </p>
    </div>
    <div class="mb-2 col-12 col-sm-6 col-md-3">
        <h2>Step 2</h2>
        <p>
            Your default departure airport is OTP - Bucharest but you can change this accessing My Account.
        </p>
    </div>
    <div class="mb-2 col-12 col-sm-6 col-md-3">
        <h2>Step 3</h2>
        <p>
            Set your next destinations along with the maximum price you want to pay for the ticket and the minimum
            and
            maximum number of days for the trip.
        </p>
    </div>
    <div class="mb-2 col-12 col-sm-6 col-md-3">
        <h2>Step 4</h2>
        <p>
            Get the best flight offer for your trip.
        </p>
    </div>
</div>